<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAskBotUpecinoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64064/AskBotUpecinoService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAskBotUpecinoService"
                contract="PreguntaWS.IAskBotUpecinoService" name="BasicHttpBinding_IAskBotUpecinoService" />
        </client>
    </system.serviceModel>
</configuration>